/* * {
  box-sizing: border-box;
} */

body {
  margin: auto;
  width: 10%;
  max-width: 100px;
  text-align: center;
  padding: 16px;
}

/* div {
  border: 0.01rem solid black;
  margin: 1rem;
  padding: 1rem;
} */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    border: 0.01rem solid black;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 15px
}

p {
  font-family: 'Noto Serif SC', serif;
  line-height: 2;
  color: #000000;
}

a:hover, a:visited:hover {
  color: #0000ff;
  text-decoration-style: none;
}

a:visited {
  color: #000000;
}
